<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rapid Riter</title>
  <link rel="stylesheet" href="https://gregsadetsky.github.io/nat.css/nat.css">
</head>
<body>
<div id="maincontent">
  <h3>ALL SHOWS</h3>
  {% for show in all_shows %}
    <p><b>Show #{{ forloop.counter }}</b> - Type: <b>{{ show.show_type }}</b></p>
    <p>{{ show }}</p>
    <p><a href="{% url 'delete_show' show.id %}" onclick='return confirm("Are you sure you want to delete this show?")'>delete this show!!</a></p>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  <hr style="margin-top:30px;">
  <hr>
  <hr>
  
  add a <b>P5</b> show below! just write P5 code!!

  <i>A FEW IMPORTANT HINTS:</i>
  <pre>
    - don't call `createCanvas()` or `size()` functions
    - have a `setup()` and a main `draw()` function
    - do not call console.log!!
    - it's better to draw black pixels on a white background
      - i.e. call `background(0)` and then `fill(255)`
    - i love u
  </pre>

  <form action="/add_show" method="post">
    {% csrf_token %}
    <input type="hidden" name="show_type" value="p5">
    <p><textarea name="show_content" style="width:200px;height:80px;" placeholder="write your code here even tho it is not a good code editor - for now"></textarea></p>
    <input type="submit" value="Add P5 Show">
  </form>

  <hr style="margin-top:30px;">
  <hr>
  <hr>

  add a text show below! just write some text!!

  <form action="/add_show" method="post">
    {% csrf_token %}
    <input type="hidden" name="show_type" value="text">
    <p><textarea name="show_content" style="width:200px;height:80px;" placeholder='write your text here'></textarea></p>
    <input type="submit" value="Add Text Show">

  </form>
</div>

<hr style="margin-top:30px;">
<hr>
<hr>
the rapid riter is deployed with <a href="https://letsdisco.dev/">disco</a>. its source code <a href="https://github.com/gregsadetsky/rapidriteros">is here</a>.

</body>
</html>