DATABASE_URL='sqlite:///db.sqlite3'

# set DJANGO_SECRET_KEY to some random/secret value.
# on Linux/Macs, you can run `uuidgen` to get one.
DJANGO_SECRET_KEY='...........'

# leave as is
ALLOWED_HOSTS='localhost'

# leave as is
DJANGO_SETTINGS_MODULE='rapidriter.settings.dev'

# see the readme for docs
RC_OAUTH_APP_ID=""
RC_OAUTH_APP_SECRET=""
RC_OAUTH_REDIRECT_URI=""
